<?xml version='1.0' encoding='utf-8'?>
<widget id="com.growthment.ems" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>EMS</name>
    <description>
        Growthment Technology CO., LTD. 
    </description>
    <author email="andy@shh.tw" href="http://shh.tw">
        Growthment Technology CO., LTD.
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="android-minSdkVersion" value="14" />
        <preference name="android-windowSoftInputMode" value="adjustResize" />
        <icon src="icon/android/mipmap-ldpi/ic_launcher.png" qualifier="ldpi" />
        <icon src="icon/android/mipmap-mdpi/ic_launcher.png" qualifier="mdpi" />
        <icon src="icon/android/mipmap-hdpi/ic_launcher.png" qualifier="hdpi" />
        <icon src="icon/android/mipmap-xhdpi/ic_launcher.png" qualifier="xhdpi" />
        <icon src="icon/android/mipmap-xxhdpi/ic_launcher.png" qualifier="xxhdpi" />
        <icon src="icon/android/mipmap-xxxhdpi/ic_launcher.png" qualifier="xxxhdpi" />
        <resource-file src="google-services.json" target="google-services.json" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <preference name="BackupWebStorage" value="none" />
        <icon src="icon/ios/AppIcon.appiconset/Icon-App-20x20@1x.png" width="20" height="20" />
        <icon src="icon/ios/AppIcon.appiconset/Icon-App-20x20@2x.png" width="40" height="40" />
        <icon src="icon/ios/AppIcon.appiconset/Icon-App-20x20@3x.png" width="60" height="60" />
        <icon src="icon/ios/AppIcon.appiconset/Icon-App-29x29@1x.png" width="29" height="29" />
        <icon src="icon/ios/AppIcon.appiconset/Icon-App-29x29@2x.png" width="58" height="58" />
        <icon src="icon/ios/AppIcon.appiconset/Icon-App-29x29@3x.png" width="87" height="87" />
        <icon src="icon/ios/AppIcon.appiconset/Icon-App-40x40@1x.png" width="40" height="40" />
        <icon src="icon/ios/AppIcon.appiconset/Icon-App-40x40@2x.png" width="80" height="80" />
        <icon src="icon/ios/AppIcon.appiconset/Icon-App-40x40@3x.png" width="120" height="120" />
        <icon src="icon/ios/AppIcon.appiconset/Icon-App-57x57@1x.png" width="57" height="57" />
        <icon src="icon/ios/AppIcon.appiconset/Icon-App-57x57@2x.png" width="114" height="114" />
        <icon src="icon/ios/AppIcon.appiconset/Icon-App-60x60@1x.png" width="60" height="60" />
        <icon src="icon/ios/AppIcon.appiconset/Icon-App-60x60@2x.png" width="120" height="120" />
        <icon src="icon/ios/AppIcon.appiconset/Icon-App-60x60@3x.png" width="180" height="180" />
        <icon src="icon/ios/AppIcon.appiconset/Icon-App-72x72@1x.png" width="72" height="72" />
        <icon src="icon/ios/AppIcon.appiconset/Icon-App-72x72@2x.png" width="144" height="144" />
        <icon src="icon/ios/AppIcon.appiconset/Icon-App-76x76@1x.png" width="76" height="76" />
        <icon src="icon/ios/AppIcon.appiconset/Icon-App-76x76@2x.png" width="152" height="152" />
        <icon src="icon/ios/AppIcon.appiconset/Icon-App-76x76@3x.png" width="228" height="228" />
        <icon src="icon/ios/AppIcon.appiconset/Icon-App-83.5x83.5@2x.png" width="167" height="167" />
        <icon src="icon/ios/AppIcon.appiconset/Icon-Small-50x50@1x.png" width="50" height="50" />
        <icon src="icon/ios/AppIcon.appiconset/Icon-Small-50x50@2x.png" width="100" height="100" />
        <resource-file src="GoogleService-Info.plist" />
    </platform>
    <preference name="DisallowOverscroll" value="true" />
    <plugin name="cordova-plugin-whitelist" spec="~1.2.0" />
    <plugin name="cordova-plugin-console" spec="~1.0.1" />
    <plugin name="cordova-plugin-statusbar" spec="~1.0.1" />
    <plugin name="phonegap-plugin-push" spec="~2.0.0" />
</widget>
